@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;200;500&display=swap');

* {
	box-sizing: border-box;
	outline: none;
	padding: 0;
	margin: 0;
	font-family: Montserrat, sans-serif;
	/* border: solid 1px black; */
}

body {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
    border-radius: 10px;
	border: solid 1px black;
    width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
    background-color: rgb(0, 0, 0);
}

.scren {
	height: 25%;
	width: 95%;
	padding: 5px;
    font-weight: 200;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden;
}

.keys {
	padding: 5px;
	height: 75%;
	width: 100%;
	display: grid;
	grid-template-rows: 1f 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 3px;
	grid-template-areas:
		'C A B div'
		'nine eight seven mult'
		'six five four sous'
		'three two one plus'
		'zero zero . equal';
}

input{
    background-color: rgba(71, 68, 68, 0.418);
    color: #fff;
    border-radius: 100%;
    font-size: x-large;
    cursor: pointer;
}

.zero{
    grid-area: zero;
    border-radius: 50px; 
}
.clear{
    grid-area: C;
    background-color: #fff;
    color: black;
}
.A{
    grid-area: A;
    background-color: #fff;
    color: black;
}
.B{
    grid-area: B;
    background-color: #fff;
    color: black;
}
.div{
    grid-area: div;
    background-color: rgb(255, 204, 0);

}
.mult{
    grid-area: mult;
    background-color: rgb(255, 204, 0);


}
.plus{
    grid-area: plus;
    background-color: rgb(255, 204, 0);


}
.minus{
    grid-area: sous;
    background-color: rgb(255, 204, 0);


}
.equal{
    grid-area: equal;
    background-color: rgb(255, 204, 0);

}